################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SRFROWCA/RegionalLead/App_LocalResources/ManageRegionalIndicators.Designer.cs
/SRFROWCA/Web.config
/SRFROWCA/Common/Mail.cs
/SRFROWCA/Web.config
