body
{
    margin: 0;
    padding: 0px;
    background-color: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}



a:link
{
    color: #444444;
    text-decoration: none;
}
/* unvisited link */
a:visited
{
    color: #444444;
    text-decoration: none;
}
/* visited link */
a:hover
{
    color: #444444;
    text-decoration: none;
}
/* mouse over link */
a:active
{
    color: #444444;
    text-decoration: none;
}
/* selected link */
label
{
    font-size: 10px;
}

input
{
    border: solid 1px #8fb3d4;
    padding: 3px;
}
select
{
    border: solid 1px #8fb3d4;
}
.toploginarea
{
    width: 99%;
    height: 21px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 19px;
    background-color: #eeeeee;
    text-align: right !important;
    font-size: 10px;
    padding-right: 1%;
    border-bottom: 1px solid #bac2cc;
}
.toploginarea span
{
    font-size: 11px;
    font-weight: bold;
}
.topmenuarea
{
    background-color: #e0e9f1;
    height: 42px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #bac2cc;
}
.container
{
    width: 98%;
    margin: 0 auto;
    border: 1px solid #ccc;
    margin-top: 40px;
}
.graybar
{
    background-color: #efefef;
    border-bottom: 1px solid #ccc;
    height: 20px;
    padding: 9px 14px;
}
.graybarcontainer
{
    background-color: #efefef;
    padding: 9px 15px;
}
.contentarea
{
    width: 97%;
    padding: 1%;
}
.singalselect select
{
    width: 99%;
}

.outer select
{
    width: 100%;
}
.outer
{
    width: 100%;
    float: left;
}

.outercenter
{
    width: 100%;    
    margin: 0 auto;
}

.row
{
    margin-right: 13px;
    float: left;
    width: 24%;
}

.colcontainer
{
    width: 98%;
    margin: 0 auto;
    margin-top: 20px;
}

.map
{
    width: 57%;
    float: left;
    border: 1px solid #ccc;
    padding: 1%;
}
.graph
{
    width: 37%;
    float: right;
    border: 1px solid #ccc;
    padding: 1%;
}

.tablegrid
{
    width: 98%;
    margin: 0 auto;
    margin-top: 10px;
}

.fullwidthdiv
{
    width: 98%;
    margin: 0 auto;
    margin-top: 20px;
}

.fullwidthdivwithheight
{
    width: 98%;
    margin: 0 auto;
    height:20px;    
}

.divleft
{
    width: 33%;
    float: left;
    border: 1px solid #ccc;
}
.divcen
{
    width: 32%;
    float: left;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-right: 10px;
}
.divright
{
    width: 33%;
    float: left;
    border: 1px solid #ccc;
}
.buttonsdiv
{
    width: 98%;
    margin: 0 auto;
    margin-top: 10px;
}
.heading
{
    padding: 0px;
    margin: 0px;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    width: 65%;
    float: left;
    padding-top: 10px;
}
.buttonright
{
    float: right;
    width: 30%;
    text-align: right;
}
.savebutton
{
    padding: 0px;
    margin: 0px;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    width: 65%;
    float: left;
}
.quicksearch
{
    float: right;
    width: 30%;
    text-align: right;
}
.quicksearch input
{
    width: 70%;
}

.quicksearch2
{
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    background-color:#ddd;
}

/*users page */

.checkbox
{
    vertical-align: middle;
    text-align: left;
}

.spacer
{
    margin-bottom: 2px;
}

/*users page */

/*table style */


table.imagetable
{
    width: 100%;
    font-size: 11px;
    color: #39668e;
    border-width: 1px;
    border-color: #bbbbbb;
    border-collapse: collapse;
}
table.imagetable th
{
    background: #ddd;
    border-width: 1px;
    padding: 6px;
    border-style: solid;
    border-color: #bbbbbb;
    text-align: left;
}
table.imagetable td
{
    border-width: 1px;
    padding: 6px;
    border-style: solid;
    color: #485160;
    border-color: #bbbbbb;
}


.altcolor
{
    background-color: #fbfbfb !important;
}

.istrow
{
    background: #ebf0f4;
}

/*table style */


/*button example */

.button_example a:link
{
    color: #444444 !important;
    text-decoration: none;
}
/* unvisited link */
.button_example a:visited
{
    color: #444444 !important;
    text-decoration: none;
}
/* visited link */
.button_example a:hover
{
    color: #39668e !important;
    text-decoration: none;
}
/* mouse over link */
.button_example a:active
{
    color: #444444 !important;
    text-decoration: none;
}
/* selected link */

.button_example
{
    border: 1px solid #aaaaaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 14px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding: 2px 10px 2px 10px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    color: #444444;
    background-image: url(../images/button-bg.jpg);
}

.button_example:hover
{
    border: 1px solid #aaaaaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 14px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding: 2px 10px 2px 10px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    color: #39668e;
    background-image: url(../images/button-bg.jpg);
}


.button_location
{
    border: 1px solid #7d99ca;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight: bold;
    color: #FFFFFF !important;
    background-color: #A5B8DA;
    background-image: linear-gradient(to bottom, #A5B8DA, #7089B3);
    }

.button_location:hover
{
    border: 1px solid #5d7fbc;
    background-color: #819bcb;
    background-image: linear-gradient(to bottom, #819bcb, #536f9d);
    }
/*button example */