@charset "utf-8";
/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #FFFFFF;
}

.formheader
{ height:59px; background:url(images/hder.png) repeat-x;  width:100%; }
.tabs0a
{ height:35px; background:url(images/hdrmid.png) repeat-x; width:100%; }
.formarea0a
{  width:95%;  margin:0 auto; clear:both; }
.formh01
{ font-family:Arial, Helvetica, sans-serif; padding:5px; font-size:14px; color:#333; }

.formh02
{ font-family:Arial, Helvetica, sans-serif; padding:5px; font-size:13px; font-weight:bold; color:#000; }

.formh03
{ font-family:Arial, Helvetica, sans-serif; padding:12px 0px 0px 20px; font-size:27px; font-weight:bold; text-shadow:1px 1px #003; color:#FFF; }

.h02a
{ font-family:Arial, Helvetica, sans-serif; padding:3px 3px 3px 6px; font-size:12px; color:#333; }

input.search-field {
	display: block;
	width: 80%;
	height: 30px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #ACACAC;
	text-align: left;
	line-height: 33px;
	text-decoration: none;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	-o-border-radius: 3px; 
	-khtml-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #CCC;
	font-weight: normal;
	float: left;
	padding: 0 10px;
	background: #F5F5F5;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3F3F3', endColorstr='#FFFFFF');
	background: -webkit-gradient(linear, left top, left bottom, from(#F3F3F3), to(#FFFFFF)); 
	background: -moz-linear-gradient(top,  #F3F3F3,  #FFFFFF); 
	-webkit-box-shadow: inset 0px 1px 1px #9A9A9A;
	-moz-box-shadow: inset 0px 1px 1px #9A9A9A;
	-o-box-shadow: inset 0px 1px 1px #9A9A9A;
	-khtml-box-shadow: inset 0px 1px 1px #9A9A9A;
	box-shadow: inset 0px 1px 1px #9A9A9A;
}

input.search-field:focus {
	color: #666;
	outline: 1px solid #69C;
	-webkit-box-shadow: inset 0px 1px 1px #4A97BA, inset 0px -1px 1px #4A97BA, 0 0 8px #4A97BA;
	-moz-box-shadow: inset 0px 1px 1px #4A97BA, inset 0px -1px 1px #4A97BA, 0 0 8px #4A97BA;
	-o-box-shadow: inset 0px 1px 1px #4A97BA, inset 0px -1px 1px #4A97BA, 0 0 8px #4A97BA;
	-khtml-box-shadow: inset 0px 1px 1px #4A97BA, inset 0px -1px 1px #4A97BA, 0 0 8px #4A97BA;
	box-shadow: inset 0px 1px 1px #4A97BA, inset 0px -1px 1px #4A97BA, 0 0 8px #4A97BA;
}

.dropdown
{ border:1px solid #CCC; padding:8px; -webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	-o-border-radius: 5px; 
	-khtml-border-radius: 5px;
	border-radius: 5px; 
	color:#999;
	width:300px;
	}
	
.mtblbtmborder
{ border-bottom:2px solid #666;  } 

.submitbtn {
        
        -moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
        -webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
        box-shadow:inset 0px 1px 0px 0px #9acc85;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
        background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
        background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
        background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
        background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
        background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
        
        background-color:#74ad5a;
        
        border:1px solid #3b6e22;
        
        display:inline-block;
        color:#ffffff;
        font-family:arial;
        font-size:14px;
        font-weight:bold;
        padding:8px 14px;
        text-decoration:none;
		margin-left:23px;
        
    }
    .submitbtn:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
        background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
        background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
        background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
        background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
        background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
        
        background-color:#68a54b;
    }
    .submitbtn:active {
        position:relative;
        top:1px;
    }


/* ---------------------- Dolphin nav ---------------------- */
#tabs24{position:relative;height:43px;font-size:12px ;text-transform:uppercase;font-family:Arial, Helvetica, sans-serif;}
#tabs24 ul{margin:0;padding:0;list-style-type:none;width:auto;float:left;}
#tabs24 ul li{display:block;float:left;margin:0 2px;}
#tabs24 ul li a{display:block;float:left;color:#FFFFFF;text-decoration:none;padding:0 0 0 25px;height:33px;line-height:35px;}
#tabs24 ul li a span{display:block;float:left;padding:0 25px 0 0;height:31px;width:auto;}
#tabs24 ul li a:hover{color:#039;}
#tabs24 ul li a:hover span{display:block;cursor:pointer;}
#tabs24 ul li a.current,#tabs24 ul li a.current:hover{color:#000033;}
#tabs24 ul li a.current span{height:43px;}
/* ---------------------- END Dolphin nav ---------------------- */