<?xml version="1.0"?>
<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
 
    </configSections> 
    <connectionStrings> 

        <add name="live_dbName" connectionString="Persist Security Info=False;User ID=kashif; Password=sa123; Initial Catalog=rowca;Data Source=." providerName="System.Data.SqlClient" />
        <add name="ORSEntities" connectionString="metadata=res://*/ORSModel.csdl|res://*/ORSModel.ssdl|res://*/ORSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=rowca;persist security info=False;user id=kashif;password=sa123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

        <!--<add name="live_dbName" connectionString="Persist Security Info=False;User ID=kashif; Password=sa123; Initial Catalog=rowca;Data Source=54.85.31.73" providerName="System.Data.SqlClient" />
        <add name="ORSEntities" connectionString="metadata=res://*/ORSModel.csdl|res://*/ORSModel.ssdl|res://*/ORSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=54.85.31.73;initial catalog=rowca;persist security info=False;user id=kashif;password=sa123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    </connectionStrings>
    <system.web>

        <webServices>
            <protocols>
                <add name="HttpGet" />
            </protocols>
        </webServices>
        <!--<trace enabled="true" pageOutput="true" requestLimit="10" traceMode="SortByTime" localOnly="true" />-->
        <httpRuntime requestValidationMode="2.0" maxRequestLength="19384" executionTimeout="180" />
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
                <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
                <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
                <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
                <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
                <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
            </assemblies>
            <buildProviders>
                <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
            </buildProviders>
        </compilation>
        <authentication mode="Forms">
            <forms loginUrl="~/Account/Login.aspx" timeout="90" slidingExpiration="true" />
        </authentication>
        <membership>
            <providers>
                <clear />
                <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="live_dbName" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="3WAPP" />
            </providers>
        </membership>
        <profile>
            <providers>
                <clear />
                <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="live_dbName" applicationName="3WAPP" />
            </providers>
        </profile>
        <roleManager enabled="true">
            <providers>
                <clear />
                <add connectionStringName="live_dbName" applicationName="3WAPP" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
                <add applicationName="3WAPP" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
            </providers>
        </roleManager>
        <httpHandlers>
            
        </httpHandlers>
    </system.web>
    <appSettings>
        <add key="aspnet:MaxHttpCollectionKeys" value="20000" />
        <add key="aspnet:MaxJsonDeserializerMembers" value="20000" />
        <add key="GenerateReportDir" value="GeneratedChartFiles" />
        <add key="domain" value="http://210.56.8.104" />
        <add key="tempresetstring" value=".$1kWp{[^^)+!~+St4#|.UcEzL;i" />
        <add key="AnnualTargetTextBoxColor" value="#FFFFF0" />
        <add key="ColumnColor" value="#FBFBFB" />
        <add key="AlternateColumnColor" value="#E0E9F1" />


    </appSettings>
    <system.webServer>

        <validation validateIntegratedModeConfiguration="false" />
        <handlers>
            <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
            <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        </handlers>
    </system.webServer>
    <system.serviceModel>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    </system.serviceModel>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
            <parameters>
                <parameter value="v11.0" />
            </parameters>
        </defaultConnectionFactory>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>
</configuration>