<?xml version="1.0"?>
<configuration>
  <system.web>

  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="DynamicRewrite" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}\.ashx" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="/{R:1}.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
